@import "./normalize.css";

@font-face {
	font-family: "Cal Sans";
	src:
		url(../assets/fonts/CalSans.woff2) format("woff2"),
		url(../assets/fonts/CalSans.woff) format("woff");
	font-display: fallback;
}

@font-face {
	font-family: "Funnel Display";
	src:
		url(../assets/fonts/FunnelDisplay.woff2) format("woff2"),
		url(../assets/fonts/FunnelDisplay.woff) format("woff");
	font-weight: 100 900;
	font-style: normal;
	font-display: fallback;
}

:root {
	--poor-white-color: #fff;
	--white-color: #f9f9f9;
	--bright-gray-color: #e6e6e6;
	--gray-color: #353839;
	--black-color: #1f2937;
	--red-color: #ef4444;
	--yellow-color: #FFDA48;

	--tiny-font-size: 1rem;
	--small-font-size: 1.2rem;
	--medium-font-size: 1.4rem;
	--large-font-size: 1.6rem;
	--huge-font-size: 1.8rem;
	--extra-huge-font-size: 2.4rem;
	--enormous-font-size: 3.2rem;

	--round-border-radius: 10rem;
}

::selection {
	background-color: var(--red-color);
	color: var(--white-color);
}

html {
	font-family: "Funnel Display", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

section {
	width: 100%;
	padding: 6rem 0;
}

h1 {
	font-family: "Cal Sans", sans-serif;
	font-size: var(--medium-font-size);
}

.progress-bar {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	height: 5px;
	background: var(--red-color);
	width: 100%;
	transform-origin: left;
	animation: grow-progress linear;
	animation-timeline: scroll(root block);
}

#wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: 100%;
	background-color: var(--white-color);
}

header {
	z-index: 100;
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background-color: var(--poor-white-color);
	padding: var(--small-font-size) 0;
	transition: padding 0.2s ease;
}

header .logo {
	cursor: pointer;
	display: flex;
	align-items: center;
	margin-left: var(--tiny-font-size);
	gap: var(--tiny-font-size);
}

header .logo span {
	color: var(--black-color);
	font-family: "Cal Sans", sans-serif;
	font-size: var(--medium-font-size);
}

header .logo svg {
	display: none;
	width: 35px;
	min-width: 35px;
}

header nav {
	display: none;
}

header ul {
	list-style: none;
	display: flex;
	gap: 1.5rem;
}

header li a {
	display: inline-block;
	position: relative;
	cursor: pointer;
	color: var(--gray-color);
	font-family: "Funnel Display", sans-serif;
	font-size: var(--tiny-font-size);
	overflow: hidden;
	transition: all 0.2s ease;

}

header li a::before {
	content: "";
	position: absolute;
	left: -100%;
	bottom: 0;
	background-color: var(--gray-color);
	width: 100%;
	height: 1px;
	transition: all 0.2s ease;
}

header > a:nth-last-of-type(1) {
	position: relative;
	cursor: pointer;
	font-family: "Cal Sans", sans-serif;
	font-size: var(--small-font-size);
	color: var(--white-color);
	border-radius: var(--round-border-radius);
	padding: 0.5rem 1.5rem;
	background-color: var(--red-color);
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	transition: all 0.2s ease;
}

header > a:nth-last-of-type(1)::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -50%;
	border-radius: 100%;
	width: 100%;
	height: 50%;
	background-color: rgb(255, 128, 128);
	filter: blur(7px);
	transition: all 0.2s ease;
}

header .burger {
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	background-color: var(--black-color);
	padding: 0.75rem;
	margin-right: var(--tiny-font-size);
}

header .burger svg {
	color: var(--white-color);
	width: var(--small-font-size);
	overflow: visible;
}

header .burger svg rect {
	transition: all 0.2s ease;
}

header .burger.is-active rect:nth-child(2) {
	opacity: 0;
}

header .burger.is-active rect:nth-child(1) {
	transform: rotate(45deg) translate(2px, -2px);
}

header .burger.is-active rect:nth-child(3) {
	transform: rotate(-45deg) translate(-5px, -1px);
}

header.header__expanded {
	flex-wrap: wrap;
	padding-bottom: calc(var(--small-font-size) + 0.5rem);
	border-radius: 0 0 25px 25px;
}

header.header__expanded nav {
	display: block;
	width: 100%;
	order: 3;
	padding-top: 2rem;
}

header.header__expanded ul {
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}


#hero {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.hero__title h1 {
	opacity: 0;
	animation: fade-in 0.5s ease forwards 0.1s;
	color: var(--black-color);
}

.hero__title {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	margin-left: var(--tiny-font-size);
}

.hero__title p {
	opacity: 0;
	animation: fade-in 0.5s ease forwards 0.2s;
	font-family: "Funnel Display", sans-serif;
	font-size: var(--tiny-font-size);
	color: var(--gray-color);
}

.hero__title > a {
	opacity: 0;
	animation: fade-in 0.5s ease forwards 0.3s;
	position: relative;
	color: var(--white-color);
	font-family: "Cal Sans", sans-serif;
	font-size: var(--small-font-size);
	background-color: var(--red-color);
	border-radius: var(--round-border-radius);
	padding: 0.5rem 1.5rem;
	margin-top: 0.5rem;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	transition: all 0.2s ease;
}

.hero__title > a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -50%;
	border-radius: 100%;
	width: 100%;
	height: 50%;
	background-color: rgb(255, 128, 128);
	filter: blur(7px);
	transition: all 0.2s ease;
}

#hero svg {
	animation: fade-in 0.5s ease forwards;
}

#hero svg:first-child {
	display: none;
	color: var(--black-color);
}

#hero svg:last-child {
	width: 80px;
	min-width: 80px;
	margin-right: var(--tiny-font-size);
	color: var(--black-color);
}

#about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--red-color);
	gap: 2rem;
}

#about h1 {
	color: var(--white-color);
}

#about h1::selection {
	background-color: var(--white-color);
	color: var(--red-color);
}

.about__info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 var(--tiny-font-size);
	gap: 1rem;
}

.about__info p {
	color: var(--white-color);
	font-size: var(--tiny-font-size);
	text-align: center;
}

.about__info p::selection {
	background-color: var(--white-color);
	color: var(--red-color);
}

.about__info svg {
	width: 40px;
	color: var(--white-color);
	order: 2;
}

#why-us {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

#why-us h1 {
	color: var(--black-color);
	margin-top: 1rem;
}

.why-us__list {
	display: grid;
	grid-template-columns: 1fr;
	list-style: none;
}

.why-us__item {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.why-us__item p {
	color: var(--black-color);
	font-size: var(--tiny-font-size);
}

.why-us__item svg {
	width: 20px;
	min-width: 20px;
	color: var(--red-color);
}

#benefits {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--black-color);
	gap: 4rem;
}

#benefits h1 {
	color: var(--white-color);
}

.benefits__list {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.benefits__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.benefits__item svg {
	width: 60px;
	color: var(--white-color);
}

.benefits__item p {
	text-align: center;
	color: var(--white-color);
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 0.07rem;
	font-size: var(--tiny-font-size);
}

#testimonials {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--black-color);
	gap: 8rem;
}

#testimonials h1 {
	color: var(--white-color);
}

.testimonials {
	display: flex;
	flex-direction: column;
	gap: 8rem;
	padding: 0 2rem;
}

.testimonial {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--white-color);
	border-radius: 25px;
	gap: 1rem;
}

.testimonial picture {
	position: relative;
	top: -50px;
}

.testimonial picture img {
	width: 100px;
	border-radius: var(--round-border-radius);
}

.testimonial p {
	margin-top: -50px;
	text-align: center;
	color: var(--black-color);
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.07rem;
	font-size: var(--tiny-font-size);
}

.testimonial .rating {
	display: flex;
	gap: 0.5rem;
	margin: -20px 0 10px 0;
}

.testimonial .rating svg {
	width: 25px;
	color: var(--yellow-color);
}

.testimonial blockquote {
	max-width: 250px;
	font-size: var(--tiny-font-size);
	color: var(--black-color);
	text-align: center;
	width: calc(100% - 5rem);
}

.testimonial > svg {
	align-self: flex-end;
	width: 70px;
	color: var(--bright-gray-color);
	margin: 1rem 2rem 2rem 0;
}

#faq {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3rem;
}

#faq h1 {
	color: var(--black-color);
}

.faq__questions {
	width: 285px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.faq__questions details {
	outline: none;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.faq__questions details[open] svg {
	transform: rotate(45deg);
	transition: transform 0.2s ease;
}

.faq__questions summary {
	display: flex;
	align-items: center;
	gap: 1rem;
	list-style: none;
	-webkit-user-select: none;
	user-select: none;
}

.faq__questions summary::-webkit-details-marker {
	display: none;
}

.questions__wrapper {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.3s ease-out;
	overflow: hidden;
}

.faq__questions details[open] .questions__wrapper {
	grid-template-rows: 1fr;
}

.questions__content {
	min-height: 0;
	overflow: hidden;
}

.questions__content p {
	cursor: text;
	font-size: var(--tiny-font-size);
	color: var(--black-color);
	padding: 0 0 1rem 0;

}

.faq__questions summary p {
	color: var(--black-color);
	font-size: var(--tiny-font-size);
	font-weight: 500;
}

.faq__questions summary svg {
	color: var(--red-color);
	width: 20px;
	min-width: 20px;
	transition: transform 0.2s ease;
}

.faq__questions hr {
	border: none;
	flex-shrink: 0;
	background-color: var(--bright-gray-color);
	min-height: 2px;
	height: 2px;
	width: calc(100% - 1rem);
	align-self: center;
}

#call-to-action {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	padding: 0 0 10rem 0;
}

#call-to-action h2 {
	color: var(--black-color);
	font-size: var(--medium-font-size);
	font-family: 'Cal Sans', sans-serif;
}

#call-to-action h1 {
	color: var(--red-color);
	font-size: var(--huge-font-size);
}

#call-to-action a {
	position: relative;
	color: var(--black-color);
	font-family: 'Cal Sans', sans-serif;
	padding: 0.5rem 1.5rem;
	border: var(--black-color) solid 3px;
	border-radius: var(--round-border-radius);
	margin-top: 1rem;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	transition: all 0.5s ease;
}

#call-to-action a span {
	position: relative;
	z-index: 1;
}

#call-to-action a::before {
	position: absolute;
	bottom: -40px;
	left: -40px;
	content: "";
	background-color: var(--black-color);
	width: 40px;
	height: 40px;
	border-radius: 20px;
	transition: all 0.5s ease;
}

#call-to-action a::after {
	position: absolute;
	bottom: -40px;
	right: -40px;
	content: "";
	background-color: var(--black-color);
	width: 40px;
	height: 40px;
	border-radius: 20px;
	transition: all 0.5s ease;
}

footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: var(--black-color);
	padding: 2rem 0;
	gap: 1rem
}

footer .info {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	width: min(1200px, 100%);
	margin: 0 auto;
	padding: 0 2rem;
	box-sizing: border-box;
}

footer .impressum,
footer .contact {
	grid-column: span 2;
}

footer .impressum, 
footer .contact,
footer .web,
footer .documents,
footer .community {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-weight: 300;
	color: var(--bright-gray-color);
	transition: all 0.2s ease;
}

footer .impressum > *:first-child,
footer .contact > *:first-child,
footer .web > *:first-child,
footer .documents > *:first-child,
footer .community > *:first-child {
	font-weight: 600;
	color: var(--white-color);
}

.community__media {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.community__media svg {
	color: var(--bright-gray-color);
	width: 17px;
	min-width: 17px;
}

footer > a {
	position: relative;
	text-transform: uppercase;
	font-family: 'Cal Sans', sans-serif;
	color: var(--black-color);
	text-align: center;
	font-size: 13cqw;
	-webkit-user-select: none;
	user-select: none;
	margin: 0 auto;
	overflow: hidden;
}

footer > a::before {
	content: "Taekwon-do";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
	color: var(--white-color);
	transition: all 0.3s ease;
}

footer > a::after {
	content: "Zpět nahoru";
	position: absolute;
	bottom: calc(-100% - 1px);
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
	color: var(--white-color);
	transition: all 0.3s ease;
}

footer > a:hover::before {
	top: -100%;
}

footer > a:hover::after {
	bottom: 0;
}


footer > p {
	font-weight: 300;
	max-width: calc(100% - 2rem);
	text-align: center;
	margin: 0 auto;
	color: var(--bright-gray-color);
}

@media (min-width: 428px) {
	footer .contact {
		grid-column: 1 2;
		grid-row: 2;
	}
}

@media (min-width: 480px) {
	h1 {
		font-size: var(--large-font-size);
	} 
	header .logo {
		margin-left: var(--large-font-size);
	}

	header .logo svg {
		display: block;
	}

	header .burger {
		margin-right: var(--large-font-size);
	}

	.about__info {
		flex-direction: row;
		gap: 3rem;
	}

	.about__info p {
		order: 2;
		max-width: 350px;
	}

	.about__info svg {
		width: 40px;
		min-width: 40px;
	}
}

@media (min-width: 636px) {
	
}

@media (min-width: 768px) {
	h1 {
		font-size: var(--huge-font-size);
	}

	header .logo span {
		font-size: var(--large-font-size);
	}

	header nav {
		display: block;
	}

	header > a:nth-last-of-type(1) {
		margin-right: var(--large-font-size);
	}

	header .burger {
		display: none;
	}

	.hero__title {
		align-items: center;
		margin-left: 0;
	}

	#hero svg:first-child {
		display: block;
		width: 100px;
		min-width: 100px;
	}

	#hero svg:last-child {
		width: 100px;
		min-width: 100px;
		margin-right: 0;
	}

	.about__info {
		gap: 4rem;
	}

	.about__info svg {
		width: 50px;
	}

	#why-us {
		gap: 3rem;
	}

	.why-us__list {
		grid-template-columns: 1fr 1fr;
	}

	.why-us__item {
		margin: 0 1rem;
	}

	#benefits {
		gap: 6rem;
	}

	.benefits__list {
		flex-direction: row;
	}

	.testimonials {
		flex-direction: row;
		gap: 4rem;
	}

	.faq__questions {
		width: 345px;
		gap: 0.5rem;
	}

	.faq__questions summary svg {
		width: 25px;
		min-width: 25px;
	}

	.faq__questions summary p {
		font-size: var(--small-font-size);
	}

	.questions__content p {
		margin-top: 0;
		font-size: var(--small-font-size);
	}

	#call-to-action h2 {
		font-size: var(--large-font-size);
	}

	#call-to-action h1 {
		font-size: var(--extra-huge-font-size);
	}
}

@media (min-width: 1024px) {
	h1 {
		font-size: var(--enormous-font-size);
	}

	header .logo {
		margin-left: var(--huge-font-size);
	}

	header .logo svg {
		width: 45px;
		min-width: 45px;
		overflow: visible;
	}

	header .logo span {
		font-size: var(--huge-font-size);
	}

	header nav ul {
		gap: 3rem;
	}

	header > a:nth-last-of-type(1) {
		font-size: var(--medium-font-size);
		margin-right: var(--huge-font-size);
		padding: 0.75rem 2rem;
	}

	.hero__title p {
		font-size: var(--small-font-size);
	}

	.hero__title > a {
		font-size: var(--medium-font-size);
		padding: 0.75rem 2rem;
	}

	#hero svg:first-child {
		margin-left: 3rem;
	}

	#hero svg:last-child {
		margin-right: 3rem;
	}

	#about {
		gap: 4rem;
	}

	.about__info {
		gap: 6rem;
	}

	.about__info p {
		font-size: var(--small-font-size);
		max-width: 450px;
	}

	.why-us__item {
		margin: 0 5rem;
	}

	.why-us__item p {
		font-size: var(--small-font-size);
	}

	.why-us__item svg {
		width: 25px;
		min-width: 25px;
	}

	.benefits__list {
		gap: 7rem;
	}

	.benefits__item p {
		font-size: var(--small-font-size);
	}

	.testimonials {
		gap: 8rem;
	}

	.testimonial blockquote {
		max-width: 300px;
		font-size: var(--small-font-size);
	}

	#faq {
		gap: 5rem;
	}

	#call-to-action {
		gap: 1rem;
	}

	#call-to-action h2 {
		font-size: var(--huge-font-size);
	}

	#call-to-action h1 {
		font-size: var(--enormous-font-size);
	}

	#call-to-action a {
		font-size: var(--medium-font-size);
		padding: 0.75rem 2rem;
		border: var(--black-color) solid 3.5px;
	}

	footer > a {
		font-size: 11cqw;
	}
}

@media (min-width: 1280px) {
	section {
		padding: 10rem 0;
	}

	header nav ul {
		gap: 5rem;
	}

	#hero svg:first-child {
		display: block;
		width: 125px;
		min-width: 125px;
	}

	#hero svg:last-child {
		width: 125px;
		min-width: 125px;
			margin-right: 0;
	}

	#hero svg:first-child {
		margin-left: 7rem;
	}

	#hero svg:last-child {
		margin-right: 7rem;
	}

	.testimonials {
		flex-direction: row;
		gap: 12rem;
	}
}

@media (hover: hover) and (pointer: fine) {
	header li a:hover:not(:active) {
		color: var(--black-color);
	}

	header li a:hover:not(:active)::before {
		background-color: var(--black-color);
		left: 0;
	}

	header > a:nth-last-of-type(1):hover:not(:active),
	.hero__title > a:hover:not(:active) {
		box-shadow: none;
		transform: scale(0.98) translateY(1px);
	}

	header > a:nth-last-of-type(1):hover:not(:active)::after,
	.hero__title > a:hover:not(:active)::after {
		bottom: -15px;
	}

	#call-to-action a:hover:not(:active) {
		border-color: var(--white-color);
		box-shadow: none;
		color: var(--white-color)
	}

	#call-to-action a:hover:not(:active)::after {
		right: 0;
		bottom: 0;
		transform: scale(3.6);
	}

	#call-to-action a:hover:not(:active)::before {
		left: 0;
		bottom: 0;
		transform: scale(3.6);
	}

	footer .web:hover:not(:active),
	footer .documents:hover:not(:active),
	footer .community:hover:not(:active) {
		color: var(--white-color);
	}
}

header > a:nth-last-of-type(1):active,
.hero__title > a:active {
	box-shadow: none;
	transform: scale(0.98) translateY(1px);
}

header > a:nth-last-of-type(1):active::after,
.hero__title > a:active::after {
	bottom: -15px;
}

#call-to-action a:active {
	transform: scale(0.95);
	background-color: var(--black-color);
	color: var(--white-color);
}

@keyframes grow-progress {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
		transform: translateY(10px) scale(0.95);
	}
	to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

h1,
.about__info,
.why-us__item,
.benefits__item,
.testimonial,
.faq__questions details,
.faq__questions hr,
#call-to-action h2,
#call-to-action a {
	animation: fade-in linear both;
	animation-timeline: view();
	animation-range: entry 0% cover 20%;
}