@import "./normalize.css";

@font-face {
	font-family: "Cal Sans";
	src:
		url(../assets/fonts/CalSans.woff2) format("woff2"),
		url(../assets/fonts/CalSans.woff) format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Funnel Display";
	src:
		url(../assets/fonts/FunnelDisplay.woff2) format("woff2"),
		url(../assets/fonts/FunnelDisplay.woff) format("woff");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

:root {
	--poor-white-color: #fff;
	--white-color: #f9f9f9;
	--bright-gray-color: #e6e6e6;
	--gray-color: #353839;
	--black-color: #1f2937;
	--red-color: #ef4444;

	--phone-small-font-size: 1rem;
	--phone-medium-font-size: 1.2rem;
	--phone-large-font-size: 1.4rem;

	--tablet-small-font-size: 1.2rem;
	--tablet-medium-font-size: 1.4rem;
	--tablet-large-font-size: 1.6rem;

	--desktop-small-font-size: 1.4rem;
	--desktop-medium-font-size: 1.6rem;
	--desktop-large-font-size: 1.8rem;
	--desktop-huge-font-size: 2.4rem;

	--round-border-radius: 10rem;

}

html {
	font-family: "Funnel Display", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

html::-webkit-scrollbar {
	display: none;
}

#wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	background-color: var(--white-color);
}

header {
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background-color: var(--poor-white-color);
	padding: var(--phone-medium-font-size) 0;
}

header .logo {
	text-decoration: none;
	color: var(--black-color);
	cursor: pointer;
	font-family: "Cal Sans", sans-serif;
	font-size: var(--phone-large-font-size);
	margin-left: var(--phone-small-font-size);
}

header nav {
	display: none;
	padding-right: 2rem;
}

header ul {
	list-style: none;
	display: flex;
	gap: 2rem;
}

header li a {
	cursor: pointer;
	text-decoration: none;
	color: var(--gray-color);
	font-family: "Funnel Display", sans-serif;
	font-size: var(--phone-small-font-size);
}

header > a:nth-last-of-type(1) {
	cursor: pointer;
	text-decoration: none;
	font-family: "Cal Sans", sans-serif;
	font-size: var(--phone-medium-font-size);
	color: var(--white-color);
	border: none;
	border-radius: var(--round-border-radius);
	padding: 0.5rem 1.5rem;
	background-color: var(--red-color);
}
header .burger {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	background-color: var(--black-color);
	padding: 0.75rem;
	margin-right: var(--phone-small-font-size);
}

header .burger svg {
	color: var(--white-color);
	width: var(--phone-medium-font-size);
}

#hero {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 85vh;
}

.hero__title {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	margin-left: var(--phone-small-font-size);
}

.hero__title span {
	font-family: "Cal Sans", sans-serif;
	font-size: var(--phone-large-font-size);
	font-weight: 500;
}

.hero__title p {
	font-family: "Funnel Display", sans-serif;
	font-size: var(--phone-small-font-size);
	color: var(--gray-color);
	font-weight: 500;
}

.hero__title a {
	text-decoration: none;
	color: var(--white-color);
	font-family: "Cal Sans", sans-serif;
	font-size: var(--phone-medium-font-size);
	font-weight: 500;
	letter-spacing: 0.03rem;
	background-color: var(--red-color);
	border-radius: var(--round-border-radius);
	padding: 0.5rem 1.5rem;
	margin-top: 0.5rem;
}

#hero svg:first-child {
	display: none;
}

#hero svg:last-child {
	width: 80px;
	min-width: 80px;
	margin-right: var(--phone-small-font-size);
}

footer {
	display: flex;
	width: 100%;
	height: 250px;
	background-color: var(--black-color);
	justify-content: center;
	align-items: center;
	color: var(--white-color);
}

@media (min-width: 480px) {
	header .logo {
		margin-left: var(--tablet-large-font-size);
	}

	header .burger {
		margin-right: var(--tablet-large-font-size);
	}
}

@media (min-width: 768px) {
	header .logo {
		font-size: var(--tablet-large-font-size);
	}

	header nav {
		display: block;
	}

	header > a:nth-last-of-type(1) {
		margin-right: var(--tablet-large-font-size);
	}

	header .burger {
		display: none;
	}

	.hero__title {
		align-items: center;
		margin-left: 0;
	}

	.hero__title span {
		font-size: var(--desktop-large-font-size);
	}

	#hero svg:first-child {
		display: block;
		width: 100px;
		min-width: 100px;
	}

	#hero svg:last-child {
		width: 100px;
		min-width: 100px;
			margin-right: 0;
	}
}

@media (min-width: 1024px) {
	header .logo {
		font-size: var(--desktop-large-font-size);
		margin-left: var(--desktop-large-font-size);
	}

	header nav ul {
		gap: 3rem;
	}

	header > a:nth-last-of-type(1) {
		font-size: var(--desktop-small-font-size);
		margin-right: var(--desktop-large-font-size);
		padding: 0.75rem 2rem;
	}

	.hero__title span {
		font-size: var(--desktop-huge-font-size);
	}

	.hero__title a {
		padding: 0.75rem 2rem;
	}

	#hero svg:first-child {
		margin-left: 3rem;
	}

	#hero svg:last-child {
		margin-right: 3rem;
	}
}

@media (min-width: 1280px) {
	header nav ul {
		gap: 5rem;
	}

	#hero svg:first-child {
		display: block;
		width: 125px;
		min-width: 125px;
	}

	#hero svg:last-child {
		width: 125px;
		min-width: 125px;
			margin-right: 0;
	}

	#hero svg:first-child {
		margin-left: 7rem;
	}

	#hero svg:last-child {
		margin-right: 7rem;
	}
}

@media (hover: hover) and (pointer: fine) {
	#sidebar:hover {
		background-color: var(--bright-gray-color);
	}
}

#sidebar:active {
	color: var(--blue-color);
}
